---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import PostContent from '../../components/PostContent.astro';

// generate paths from existing content entries
export async function getStaticPaths() {
  const entries = await getCollection('posts');
  return entries.map((entry) => {
    return {
      params: { slug: entry.id },
      props: { post: entry },
    };
  });
}

const { post } = Astro.props;
---

<MainLayout>
  <a href="/blog">All Posts</a>
  <section class="front-matter">
    <h1>{post.data.title}</h1>
    <p class="date">{post.data.pubDate.toUTCString()}</p>
    <div class="tag-container">
      {post.data.tags.map((tag) => <p class="tag">{tag}</p>)}
    </div>
    <hr />
  </section>
  <PostContent post={post} />
</MainLayout>
<style>
  .front-matter {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .date {
    font-size: 0.9375rem;
  }

  .tag-container {
    display: flex;
    gap: 0.25rem;
  }

  .tag {
    font-size: 0.75rem;
    background-color: var(--clr-accent);
    border-radius: var(--border-radius);
    padding: 0.25rem;
  }
</style>
