---
import PostPreview from '../../components/PostPreview.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<MainLayout>
  <p class="heading">All Posts</p>
  {posts.map((post) => <PostPreview post={post} />)}
</MainLayout>
<style>
  .heading {
    font-size: 1.375rem;
  }
</style>
