---
import BlogList from '../../components/BlogList.astro';
import PostPreview from '../../components/PostPreview.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
---

<MainLayout>
  <p class="heading">All Posts</p>
  <BlogList />
</MainLayout>
<style>
  .heading {
    font-size: 1.375rem;
  }
</style>
