---
import BlogList from "../../components/BlogList.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

// Filter for only published posts
const publishedPosts = posts.filter(
    (post) => post.data.published && post.data.pubDate.getTime() > 0,
);

publishedPosts.sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<MainLayout>
    <p class="heading">All Posts</p>
    <BlogList posts={publishedPosts} />
</MainLayout>
<style>
    .heading {
        font-size: 1.375rem;
    }
</style>
