---
import BlogList from '../../components/BlogList.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<MainLayout>
  <p class="heading">All Posts</p>
  <BlogList client:load posts={posts} />
</MainLayout>
<style>
  .heading {
    font-size: 1.375rem;
  }
</style>
