/* :root {
/*   /*
/*     TODO: Simplify CSS properties
/*   /* STATIC COLOR */
/*   --clr-accent: var(--green-9);
/*   --clr-light: var(--stone-1);
/* 
/*   /* FONT PROPERTIES */
/*   --font-sizing: 1rem;
/*   --font-small: var(--font-size-0);
/*   --font-medium: var(--font-size-4);
/*   --font-large: var(--font-size-5);
/*   --font-xl: var(--font-size-6);
/*   --weight-normal: var(--font-weight-4);
/*   --weight-bold: var(--font-weight-7);
/* 
/*   /* SPACING PROPERTIES */
/*   --spacing-xxs: var(--size-1);
/*   --spacing-xs: var(--size-2);
/*   --spacing-small: var(--size-3);
/*   --spacing-medium: var(--size-4);
/*   --spacing-large: var(--size-7);
/*   --spacing-xl: var(--size-10);
/* 
/*   /* CONTENT WIDTHS */
/*   --content-width: var(--size-content-3);
/*   --content-width-xs: var(--size-content-1);
/*   --content-width-s: var(--size-content-2);
/*   --sidebar-width: var(--size-13);
/* 
/*   /* BORDER PROPERTIES */
/*   --border-radius: var(--radius-2);
/*   --border-size: var(--border-size-1);
/* 
/*   /* MISC PROPERTIES */
/*   --editor-controls-height: var(--spacing-xl);
/* }

/* GLOBAL STYLES */
:root {
  --content-width: min(60ch, 90%);
}

a {
  color: var(--clr-accent-600);
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--clr-accent-400);
  }
}
