.post-content {
  * {
    line-height: 1.75;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul.contains-task-list {
    list-style: none;
  }

  ul,
  ol {
    margin-block: var(--spacing-small);
    padding-left: var(--spacing-medium);
    list-style-position: inside;
  }

  li {
    margin-block: var(--spacing-xs);
  }

  li.task-list-item {
    display: flex;
    align-items: center;
  }

  li:has(input[type='checkbox']:checked) {
    text-decoration: line-through;
    /* TODO: Add strikethrough font color */
  }

  li > input[type='checkbox'] {
    height: 0.75rem;
    width: 0.75rem;
    margin-right: var(--spacing-00);
  }

  pre,
  code,
  blockquote {
    padding: 5px;
    padding-left: var(--spacing-1);
    background-color: var(--clr-main-200);
    border-radius: var(--border-radius);
    margin-block: var(--spacing-0);

    p,
    code {
      font-size: var(--spacing-1);
      text-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  blockquote {
    position: relative;
  }

  blockquote::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--clr-main-500);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  hr {
    margin-block: var(--spacing-small);
  }

  table {
    width: 100%;
    margin-block: var(--spacing-small);
    text-align: center;
    border-collapse: collapse;
  }

  thead {
    font-weight: var(--weight-bold);
    background-color: var(--clr-bg-2);
    border-radius: var(--border-radius) 0;
  }

  th:first-child {
    border-top-left-radius: var(--border-radius);
  }

  th,
  td {
    padding: var(--spacing-xs);
    border: solid var(--border-size) var(--clr-bg-3);
  }
}

@media (prefers-color-scheme: dark) {
  .post-content {
    blockquote {
      background-color: var(--clr-main-800);
    }
  }
}
