---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import PostPreview from '../components/PostPreview.astro';
import Icon from '../components/Icon.astro';
import Hero from '../components/Hero.astro';

const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 1);
---

<MainLayout>
  <hr />
  <Hero />
  <hr />
  <section>
    <p class="recent-posts-heading">Latest Post</p>
    <div>
      {posts.map((post) => <PostPreview post={post} />)}
    </div>
  </section>
  <section>
    <a href="/blog" class="see-more">
      <span>See More</span>
      <Icon icon={'arrow-right'} />
    </a>
  </section>
</MainLayout>

<style>
  .recent-posts-heading {
    color: var(--clr-accent-600);
    font-weight: var(--weight-bold);
  }

  hr {
    margin-block: 0.5rem;
  }

  .see-more {
    display: flex;
    align-items: center;
  }

  @media (prefers-color-scheme: dark) {
    .recent-posts-heading {
      color: var(--clr-accent-400);
    }
  }
</style>
