---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import PostPreview from '../components/PostPreview.astro';

const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);

// TODO: Extract into a post preview component
---

<MainLayout>
  <p>
    Hi! Here you'll find thoughts, opinions, and general musings from a public
    librarian and hobbyist web developer!
  </p>
  <hr />
  <h2>Recent Posts</h2>
  <section>
    {posts.map((post) => <PostPreview post={post} />)}
  </section>
  <section>
    <a href="/blog">All Posts</a>
  </section>
</MainLayout>
<style>
  section {
    display: flex;
    flex-direction: column;
  }
</style>
