---
import type { CollectionEntry } from 'astro:content';
import { ref } from 'vue';
import PostPreview from './PostPreview.astro';
import { undefined } from 'astro:schema';

interface Props {
  posts: CollectionEntry<'posts'>[];
}

const tag = Astro.url.searchParams.get('tag');

const { posts } = Astro.props;
---

<div>
  <section>
    {
      posts.map((post) =>
        post.data.tags.includes(tag!) ? <PostPreview post={post} /> : undefined
      )
    }
  </section>
</div>
