---
import type { CollectionEntry } from "astro:content";
import PostPreview from "./PostPreview.astro";
import { getCollection } from "astro:content";

interface Props {
    // posts: CollectionEntry<"posts">[];
    tag?: string;
}

// const { posts } = Astro.props;
const posts = (await getCollection("posts")).filter(
    (post) => post.data.published,
);

posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<div>
    {posts.map((post) => <PostPreview post={post} />)}
</div>

<!-- <script>
    function filterPosts() {
        const postList = document.getElementById("post-list");

        if (!postList) return false;

        // Get all post elements
        // and filter based on data-tag attribute

        const posts = postList.children;
        for (const post of posts) {
            if (post instanceof HTMLElement) {
                const TAG = "web-dev";
                const tags = post.dataset.tags!.split(",");

                if (!tags.includes(TAG)) post.style.display = "none";
            }
        }
    }

    document.addEventListener("DOMContentLoaded", filterPosts);
</script> -->
