---
import PostPreview from "./PostPreview.astro";
import { getAvailableTags, getPosts } from "../utils";

interface Props {
    // posts: CollectionEntry<"posts">[];
    tag?: string;
}

const props = Astro.props;

const tags = await getAvailableTags();
const posts = await getPosts(props.tag);
---

<div>
    <div class="tag-list">
        {tags.map((tag) => <a href={`/tags/${tag}`}>#{tag}</a>)}
    </div>
    {posts.map((post) => <PostPreview post={post} />)}
</div>
<style>
    .tag-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>
