---
import { Image } from 'astro:assets';
---

<section class="hero-container">
    <Image
        src={'https://images.jspears.me/headshot.webp'}
        alt={'A headshot of James with a cat on his shoulder'}
        height={200}
        width={200}
        layout="constrained"
        style="border-radius: 20px;"
        loading={'eager'}
    />
    <div>
        <div class="greeting">
            <p>Hello!</p>
            <p>I'm James!</p>
        </div>
        <p class="bio">
            I'm a <span>public librarian</span> and <span
                >hobbyist web developer</span
            > from West Virginia. Welcome to my corner of the Internet where I share
            my thoughts, opinions, and other general musings!
        </p>
    </div>
</section>
<style>
    .hero-container {
        padding-block: 3rem;
        overflow-x: hidden;
        align-content: center;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .greeting {
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .greeting > *:nth-child(2) {
        width: auto;
        overflow-x: hidden;
        text-wrap: nowrap;
        transition: width 1500ms ease-out 250ms;

        @starting-style {
            width: 0;
        }
    }

    .bio > span {
        color: var(--clr-accent-600);
        font-weight: bold;
        font-style: italic;
        text-decoration: wavy;
    }

    @media (prefers-color-scheme: dark) {
        .bio > span {
            color: var(--clr-accent-400);
        }
    }

    @media screen and (max-width: 480px) {
        .hero-container {
            flex-direction: column;
        }
    }
</style>
