<dialog id="lightbox-modal">
    <article>
        <img id="lightbox-img" src="" alt="" />
        <button id="modal-close-button" type="reset"></button>
    </article>
</dialog>
<style>
    #lightbox-img {
        max-height: 500px;
        width: auto;
    }
</style>
