<dialog id="lightbox-modal">
    <article>
        <img id="lightbox-img" src="" alt="" />
        <button id="modal-close-button" type="reset"></button>
    </article>
</dialog>
<script src="../scripts/lightbox.js"></script>
