<nav>
  <ul>
    <a href="/blog">Blog</a>
  </ul>
  <a href="/">
    <span class="anchor"> James Spears, V</span>
  </a>
  <ul>
    <a href="#">About</a>
  </ul>
</nav>

<style>
  nav {
    padding-inline: 1rem;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: var(--spacing-medium);
  }

  .anchor {
    color: inherit;
    font-weight: bold;
    font-size: 1.5rem;
  }

  a:has(span):hover {
    color: inherit;
  }
</style>
