<nav>
  <ul>
    <li><a href="/blog">Blog</a></li>
    <li class="anchor"><a href="/">James Spears, V</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
<style>
  nav {
    padding-inline: var(--spacing-large);
    height: var(--spacing-xl);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: var(--spacing-medium);
  }

  .anchor {
    font-weight: bold;
    font-size: 1.5rem;
  }
</style>
