---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}
const { post } = Astro.props;
const { pubDate } = post.data;
pubDate.setUTCHours(16);
---

<article>
  <a href={`/blog/${post.id}`}>
    <span class="title"> {post.data.title}</span>
  </a>
  <p class="excerpt">{post.data.excerpt}</p>
  <p class="pubDate">
    {pubDate.toDateString()}
  </p>
</article>
<style>
  article {
    margin-block: 1.25rem;
  }

  aside {
    align-items: flex-start;
  }

  a {
    font-size: 1.375rem;
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: var(--clr-accent-500);
  }

  .excerpt,
  .pubDate {
    color: var(--clr-main-600);
  }

  .pubDate {
    font-size: 0.85rem;
  }

  @media (prefers-color-scheme: dark) {
    .excerpt,
    .pubDate {
      color: var(--clr-main-500);
    }
  }
</style>
