---
import { ClientRouter } from 'astro:transitions';
import 'jump-css';
import '../styles/reset.css';
import '../styles/main.css';
import Nav from '../components/Nav.astro';

// HACK: #12 Find a better method to load styles for markdown only pages
if (Astro.props.frontmatter) {
    console.log('importing post styles');
    import('../styles/post.css');
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="https://fav.farm/rocket" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>James Spears, V</title>
        <ClientRouter />
    </head>
    <body>
        <Nav />
        <!-- ## Main Content ## -->
        <div>
            <main>
                {
                    Astro.props.frontmatter ?
                        <div class="post-content">
                            <slot />
                        </div>
                    :   <slot />
                }
            </main>
        </div>
    </body>
</html>
